@charset "UTF-8";

// External styles
@import "../lib/bootstrap/less/bootstrap";
@import "../lib/fontawesome/less/font-awesome";
@fa-font-path: "/static/lib/fontawesome/fonts";
@import (inline) "../lib/angular-motion/angular-motion.min.css";
@import (inline) "../lib/AngularJS-Toaster/toaster.css";

// Variables
@hover-background: fade(@btn-primary-bg, 50%);
@active-background: fade(@btn-primary-bg, 75%);

// helpers
.absolute-fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.selectable-block(@pad) {
    margin: -@pad;
    padding: @pad;
    border: 1px solid transparent;
    &:hover {
        background-color: @hover-background;
        border: 1px solid @btn-primary-border;
        cursor: pointer;
    }

    &.active {
        background-color: @active-background;
        border: 1px solid @btn-primary-border;
    }
}

.blockify-li {
    ul {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: block;
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}

/* angularjs cloaking */
.ng-cloak {
    display: none;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;

    > .container {
        margin-top: 50px;
        height: 100%;
        position: relative;
    }
}

.org {
    .img-thumbnail {
        margin-top: 20px;
        float: right;
    }

    .owners, .members, .projects, .ideas {
        .blockify-li();
    }

    .projects, .ideas {
        ul li {
            .selectable-block(10px);
        }
    }

    .idea {
        .versions {
            position:  relative;
            min-height: 400px;
            .version-list {
                .blockify-li();
                .absolute-fill();
                right: auto;
                width: 200px;
                overflow-y: auto;

                ul {
                    .absolute-fill();
                    li {
                        .selectable-block(0);
                        padding: 5px;

                        .title {
                            display: block;
                            font-size: 16px;
                        }
                    }
                }
            }

            .version-view {
                margin-left: 205px;

                .well {
                    overflow-x: auto;
                }
            }
        }

		.comments {
			.blockify-li();
			ul > li {
				position: relative;
				border: 1px solid black;
				padding: 10px;
				margin: 5px 0;

				.heading {
					font-weight: bold;
				}

				.actions {
					.absolute-fill();
					left: auto;
					bottom: auto;
					text-align: right;
					padding: 5px;
				}

				.text {
					padding-left: 20px;
				}
			}
		}
    }
}

.orgs {
    .blockify-li();
    ul li {
        .selectable-block(10px);
        margin: 0 -10px;
        .org-name {
            margin: 0;
        }
        .org-desc {
            margin: 0;
        }
    }
}

.navbar {
    li.google {
        padding-top: 10px;
    }

    li.user {
        img {
            height: 50px;
            margin: -20px 0;
        }
    }
}
