@charset "UTF-8";

// External styles
@import "../lib/bootstrap/less/bootstrap";
@import "../lib/fontawesome/less/font-awesome";
@fa-font-path: "/static/lib/fontawesome/fonts";
@import (inline) "../lib/angular-motion/angular-motion.min.css";

/* angularjs cloaking */
.ng-cloak {
    display: none;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;

    > .container {
        margin-top: 50px;
    }
}

.org {
    .img-thumbnail {
        margin-top: 20px;
        float: right;
    }

    .owners, .members {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                list-style: none;
            }
        }
    }
}

.orgs {
    .org-list {
        margin: 0 -10px;
        padding: 10px;
        border: 1px solid transparent;
        &:hover {
            background-color: fade(@btn-primary-bg, 50%);
            border: 1px solid @btn-primary-border;
            cursor: pointer;
        }
        .org-name {
            margin: 0;
        }
        .org-desc {
            margin: 0;
        }
    }
}

.navbar {
    li.google {
        padding-top: 10px;
    }

    li.user {
        img {
            height: 50px;
            margin: -20px 0;
        }
    }
}
