@charset "UTF-8";

// External styles
@import "../lib/bootstrap/less/bootstrap";
@import "../lib/fontawesome/less/font-awesome";
@import (inline) "../lib/angular-motion/angular-motion.min.css";

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* angularjs cloaking */
.ng-cloak {
    display: none;
}
