#static-head{
	background-color: #269BDC;
	height : 12%;
	color: #F7F9FF;
}

.namesake{
	color: #F7F9FF;
	font-size: 2em;
	margin-top: 10px ;
}

.namesake a {
	color: #F7F9FF;
}

.navlinks a{
	color: #F7F9FF;

}

p {

}