<!DOCTYPE html>
<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Collaborate Democracy</a>
        </div>

        <div class="navbar-collapse collapse ng-cloak">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a href>Find Projects</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="home">Home</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="orgs">Organizations</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="google" ng-hide="googleAuth.status.signed_in || currentUser || googlePlus">
                    <google-plus-signin clientid="666333715586-orteiqqs7eq4h6he61epr2eg1fkm3e55.apps.googleusercontent.com"></google-plus-signin>
                </li>
                <li ng-show="googleAuth.status.signed_in || currentUser || googlePlus" class="user dropdown">
                    <a href class="dropdown-toggle" bs-dropdown="userDrop">
                        <img ng-src="{{googlePlus.image.url}}"/>
                        {{googlePlus.displayName || currentUser.name}} <span class="caret"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
