<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" />

	</head>
	
	<body>
		<div class="row">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Our Projects</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      				<ul class="nav navbar-nav">
	        				<li><a href="#">Find Projects</a></li>
	        				<li><a href="#">Home</a></li>
	          			</ul>
	          		</div>
				</div>
			</nav>
		</div>

		<div class="jumbotron">
			<div class="container">
	  			<h1>Sign up your organization or join one!</h1>
	  			<p>Our Projects is a website designed to help in the organization of democratic projects.  First you'll need to join or create an organization.  Once you're in an organization, you can create ideas or projects.  Ideas are open for all to edit and discuss, while projects are for more mature ideas that are being implemented.  Projects will require votes for instantiation as well as for all edits to ensure the project remains democratic in practice as well as conception.</p>
	  			<p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
	  		</div>
		</div>

		<div class="container">
			<form role="form">
			  <div class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>

	</body>

</html>