<!DOCTYPE html>
<div class="jumbotron">
    <div class="container">
        <h1>Sign up your organization or join one!</h1>
        <p>Our Projects is a website designed to help in the organization of democratic projects. First you'll need to join or create an organization. Once you're in an organization, you can create ideas or projects. Ideas are open for all to edit and discuss, while projects are for more mature ideas that are being implemented. Projects will require votes for instantiation as well as for all edits to ensure the project remains democratic in practice as well as conception.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more</a>
        </p>
    </div>
</div>
