<!DOCTYPE html>
<div class="idea" ng-controller="IdeaCtrl" ui-view>
    <ol class="breadcrumb">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="orgs">Organizations</a></li>
        <li ng-show="org"><a ui-sref="org">{{org.name}}</a></li>
    </ol>
    <div ng-show="loading">
        Loading...
    </div>
    <div ng-show="idea && !loading">
        <h1>
            {{idea.title}}
            <button ng-if="currentUser.loggedIn" ng-show="org.userIsOwner()" class="btn btn-link" ui-sref="org.idea.edit">
                <i class="fa fa-pencil"></i> Edit
            </button>
            <button ng-if="currentUser.loggedIn" ng-show="org.userIsOwner()" class="btn btn-link" ng-click="delIdea()">
                <i class="fa fa-trash-o"></i> Delete
            </button>
            <button ng-if="currentUser.loggedIn" ng-show="idea.userIsFollowing()" class="btn btn-link" ng-click="idea.unfollow()" data-title="Click to stop following" bs-tooltip>
                <i class="fa fa-eye"></i> Following
            </button>
            <button ng-if="currentUser.loggedIn" ng-hide="idea.userIsFollowing()" class="btn btn-link" ng-click="idea.follow()" data-title="Click to follow" bs-tooltip>
                <i class="fa fa-eye-slash"></i> Not following
            </button>
        </h1>

        <p ng-if="idea.short_description">
            <i class="fa fa-quote-left"></i>
            {{idea.short_description}}
            <i class="fa fa-quote-right"></i>
        </p>

        <div ng-show="idea.versions.length && !isNewVersion">
            <button ng-if="currentUser.loggedIn" ng-show="org.userIsMember()" class="btn btn-link" ui-sref="org.idea.version.edit" data-title="Edit this version" bs-tooltip>
                <i class="fa fa-pencil"></i> Edit
            </button>
            <button ng-if="currentUser.loggedIn" ng-show="org.userIsMember()" class="btn btn-link" ui-sref="org.idea.newVersion" data-title="Create a new version" bs-tooltip>
                <i class="fa fa-plus"></i> New
            </button>
        </div>

        <div class="versions">
            <div class="version-list">
                <ul>
                    <li ng-repeat="vers in idea.versions" ui-sref="org.idea.version({versId: vers.unique})" ng-class="versionClass(vers)">
                        <span class="title">{{vers.creatorUser.name}}</span>
                        <span class="text-muted">{{vers.createdDate}}</span>
						<button class="btn btn-link karma-btn" ng-click="idea.grantKarma(vers)" data-title="Karmic Rating" data-container="body" data-placement="right" bs-tooltip>
							<i class="fa fa-try karma" ng-class="{mine: vers.hasUserKarma()}"></i>
							<span class="badge">{{vers.karma}}</span>
						</button>
                    </li>
                </ul>
            </div>
            <div class="version-view" ui-view="inner">
                <div ng-if="!idea.versions.length">
                    <p>This idea does not have any versions yet.</p>
                    <button
                            class="btn btn-primary"
                            ng-if="currentUser.loggedIn" ng-show="org.userIsMember()"
                            ui-sref="org.idea.newVersion">
                        <i class="fa fa-plus"></i> Create the first version
                    </button>
                </div>
                <div ng-if="idea.versions.length">
                    Choose a version of this idea to vew from the list on the left.
                </div>
            </div>
        </div>

        <div class="comments" ng-controller="CommentCtrl">
            <h2>Comments</h2>
            <ul>
                <li ng-repeat="comment in idea.comments">
                    <div ng-show="comment.$editClone">
                        <textarea class="form-control" ng-model="comment.$editClone.text" placeholder="Edit this comment"></textarea>
                        <div class="well" marked="comment.$editClone.text" ng-show="comment.$editClone.text"></div>
                        <button class="btn btn-link" ng-click="cancelCommentEdit(comment)">Cancel</button>
                        <button class="btn btn-primary" ng-click="saveCommentEdit(comment)">Save</button>
                    </div>
                    <div ng-hide="comment.$editClone">
                        <div class="heading">{{comment.user.name}} at {{comment.date}}</div>
                        <div class="actions">
                            <button class="btn btn-default" ng-click="comment.replying = true" ng-show="currentUser.loggedIn"><i class="fa fa-reply"></i></button>
                            <button class="btn btn-default" ng-click="editComment(comment)" ng-show="comment.userIsAuthor()"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-danger" ng-click="delComment(comment)" ng-show="comment.userIsAuthor()"><i class="fa fa-trash-o"></i></button>
                        </div>
                        <div class="text" marked="comment.text"></div>
                    </div>
					<ul>
						<li ng-repeat="reply in comment.replies">
							<div ng-show="reply.$editClone">
								<textarea class="form-control" ng-model="reply.$editClone.text" placeholder="Edit this reply"></textarea>
								<div class="well" marked="reply.$editClone.text" ng-show="reply.$editClone.text"></div>
								<button class="btn btn-link" ng-click="cancelCommentEdit(reply)">Cancel</button>
								<button class="btn btn-primary" ng-click="saveCommentEdit(reply)">Save</button>
							</div>
							<div ng-hide="reply.$editClone">
								<div class="heading">{{reply.user.name}} at {{reply.date}}</div>
								<div class="actions">
									<button class="btn btn-default" ng-click="editComment(reply)" ng-show="reply.userIsAuthor()"><i class="fa fa-pencil"></i></button>
									<button class="btn btn-danger" ng-click="reply.del()" ng-show="reply.userIsAuthor()"><i class="fa fa-trash-o"></i></button>
								</div>
								<div class="text" marked="reply.text"></div>
							</div>
						</li>
					</ul>
					<div ng-show="comment.replying">
						<textarea class="form-control" ng-model="comment.newReply" placeholder="Add a reply"></textarea>
						<div class="well" marked="comment.newReply" ng-show="comment.newReply.length"></div>
						<button class="btn btn-primary" ng-click="addReply(comment)">Add</button>
						<button class="btn btn-link" ng-click="cancelReply(comment)">cancel</button>
					</div>
                </li>
            </ul>
            <button ng-if="currentUser.loggedIn" ng-show="org.userIsMember() && !idea.commenting" class="btn btn-link" ng-click="idea.commenting = true">
                <i class="fa fa-plus"></i> New comment
            </button>
			<div ng-show="idea.commenting">
				<textarea class="form-control" ng-model="newComment" placeholder="Add a comment"></textarea>
				<div class="well" marked="newComment" ng-show="newComment.length"></div>
				<button class="btn btn-primary" ng-click="addComment(newComment)">Add</button>
				<button class="btn btn-link" ng-click="idea.commenting = false">cancel</button>
			</div>
        </div>

    </div>
</div>
