<!DOCTYPE html>
<div class="idea" ng-controller="IdeaCtrl">
    <ol class="breadcrumb">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="orgs">Organizations</a></li>
        <li ng-show="org"><a ui-sref="org({orgId: org.unique})">{{org.name}}</a></li>
    </ol>
    <div ng-show="loading">
        Loading...
    </div>
    <div ng-show="idea && !loading">
        <h1>
            {{idea.title}}
            <button ng-if="currentUser.loggedIn" ng-show="org.userIsOwner()" class="btn btn-link" ui-sref="editIdea({orgId: org.unique, ideaId: idea.unique})">
                <i class="fa fa-pencil"></i> Edit
            </button>
            <button ng-if="currentUser.loggedIn" ng-show="org.userIsOwner()" class="btn btn-link" ng-click="delIdea()">
                <i class="fa fa-trash-o"></i> Delete
            </button>
            <button ng-if="currentUser.loggedIn" ng-show="idea.userIsFollowing()" class="btn btn-link" ng-click="idea.unfollow()" data-title="Click to stop following" bs-tooltip>
                <i class="fa fa-eye"></i> Following
            </button>
            <button ng-if="currentUser.loggedIn" ng-hide="idea.userIsFollowing()" class="btn btn-link" ng-click="idea.follow()" data-title="Click to follow" bs-tooltip>
                <i class="fa fa-eye-slash"></i> Not following
            </button>
        </h1>

        <p ng-if="idea.short_description">
            <i class="fa fa-quote-left"></i>
            {{idea.short_description}}
            <i class="fa fa-quote-right"></i>
        </p>

        <div ng-show="idea.versions.length && !isNewVersion">
            <button type="button" class="btn btn-default" ng-model="selectedVersion" ng-options="idea.unique as idea.title for idea in idea.versions" bs-select>
                Version <span class="caret"></span>
            </button>
            <button ng-if="currentUser.loggedIn" ng-show="org.userIsMember()" class="btn btn-link" ui-sref="idea.newVersion" data-title="Create a new idea" bs-tooltip>
                <i class="fa fa-plus"></i> New
            </button>
        </div>

        <div ng-if="!idea.versions.length && !isNewVersion">
            <p>This idea does not have any versions yet.</p>
            <button class="btn btn-primary" ui-sref="idea.newVersion({orgId: org.unique, ideaId: idea.unique})">
                <i class="fa fa-plus"></i> Create the first version
            </button>
        </div>

        <div ui-view></div>
    </div>
</div>
