<!DOCTYPE html>
<div class="idea" ng-controller="IdeaCtrl" ui-view>
    <ol class="breadcrumb">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="orgs">Organizations</a></li>
        <li ng-show="org"><a ui-sref="org">{{org.name}}</a></li>
    </ol>
    <div ng-show="loading">
        Loading...
    </div>
    <div ng-show="idea && !loading">
        <h1>
            {{idea.title}}
            <button ng-if="currentUser.loggedIn" ng-show="org.userIsOwner()" class="btn btn-link" ui-sref="org.idea.edit">
                <i class="fa fa-pencil"></i> Edit
            </button>
            <button ng-if="currentUser.loggedIn" ng-show="org.userIsOwner()" class="btn btn-link" ng-click="delIdea()">
                <i class="fa fa-trash-o"></i> Delete
            </button>
            <button ng-if="currentUser.loggedIn" ng-show="idea.userIsFollowing()" class="btn btn-link" ng-click="idea.unfollow()" data-title="Click to stop following" bs-tooltip>
                <i class="fa fa-eye"></i> Following
            </button>
            <button ng-if="currentUser.loggedIn" ng-hide="idea.userIsFollowing()" class="btn btn-link" ng-click="idea.follow()" data-title="Click to follow" bs-tooltip>
                <i class="fa fa-eye-slash"></i> Not following
            </button>
        </h1>

        <p ng-if="idea.short_description">
            <i class="fa fa-quote-left"></i>
            {{idea.short_description}}
            <i class="fa fa-quote-right"></i>
        </p>

        <div ng-show="idea.versions.length && !isNewVersion">
            <button ng-if="currentUser.loggedIn" ng-show="org.userIsMember()" class="btn btn-link" ui-sref="org.idea.version.edit" data-title="Edit this version" bs-tooltip>
                <i class="fa fa-pencil"></i> Edit
            </button>
            <button ng-if="currentUser.loggedIn" ng-show="org.userIsMember()" class="btn btn-link" ui-sref="org.idea.newVersion" data-title="Create a new version" bs-tooltip>
                <i class="fa fa-plus"></i> New
            </button>
        </div>

        <div class="versions">
            <div class="version-list">
                <ul>
                    <li ng-repeat="vers in idea.versions" ui-sref="org.idea.version({versId: vers.unique})" ng-class="versionClass(vers)">
                        <span class="title">{{vers.creatorUser.name}}</span>
                        <span class="text-muted">{{vers.createdDate}}</span>
                    </li>
                </ul>
            </div>
            <div class="version-view" ui-view="inner">
                <div ng-if="!idea.versions.length">
                    <p>This idea does not have any versions yet.</p>
                    <button
                            class="btn btn-primary"
                            ng-if="currentUser.loggedIn" ng-show="org.userIsMember()"
                            ui-sref="org.idea.newVersion">
                        <i class="fa fa-plus"></i> Create the first version
                    </button>
                </div>
                <div ng-if="idea.versions.length">
                    Choose a version of this idea to vew from the list on the left.
                </div>
            </div>
        </div>

        <div class="comments" ng-controller="CommentCtrl">
            <h2>Comments</h2>
            <ul>
                <li ng-repeat="comment in idea.comments">
                    <div ng-show="comment.$editClone">
                        <textarea class="form-control" ng-model="comment.$editClone.text" placeholder="Edit this comment"></textarea>
                        <div class="well" marked="comment.$editClone.text" ng-show="comment.$editClone.text"></div>
                        <button class="btn btn-link" ng-click="cancelCommentEdit(comment)">Cancel</button>
                        <button class="btn btn-primary" ng-click="saveCommentEdit(comment)">Save</button>
                    </div>
                    <div ng-hide="comment.$editClone">
                        <div class="heading">{{comment.user.name}} at {{comment.date}}</div>
                        <div class="actions">
                            <button class="btn btn-default" ng-click="editComment(comment)" ng-show="comment.userIsAuthor()"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-danger" ng-click="delComment(comment)" ng-show="comment.userIsAuthor()"><i class="fa fa-trash-o"></i></button>
                        </div>
                        <div class="text" marked="comment.text"></div>
                    </div>
                    <li ng-repeat="reply in comment.replies">

                    </li>
                </li>
            </ul>
            <textarea class="form-control" ng-model="newComment" placeholder="Add a comment"></textarea>
            <div class="well" marked="newComment" ng-show="newComment.length"></div>
            <button class="btn btn-primary" ng-click="addComment(newComment)">Add</button>
        </div>

    </div>
</div>
