<!DOCTYPE html>
<div class="org" ng-controller="OrgCtrl">
    <div ng-show="loading">
        Loading...
    </div>
    <div class="row" ng-show="org && !loading">
        <div class="col-sm-2">
            <div class="owners">
                <h3>
                    Owners
                    <button ng-show="org.userIsOwner()" class="btn btn-link" ng-click="showAddOwn = !showAddOwn">
                        <i class="fa fa-plus" data-title="Add owner" data-container="body" bs-tooltip></i>
                    </button>
                </h3>
                <div ng-show="org.userIsOwner() && showAddOwn">
                    <user-selector user="ownerToAdd"></user-selector>
                    <button class="btn btn-primary" ng-click="addOwner(ownerToAdd)" ng-disabled="!canAddUser(ownerToAdd, org.owners)">
                        <i class="fa fa-plus"></i> Add
                    </button>
                </div>
                <ul>
                    <li ng-repeat="owner in org.owners">
                        <a href ng-show="org.userIsOwner()" ng-click="delOwner(owner)"><i class="fa fa-trash-o" data-title="Delete this owner" bs-tooltip></i></a>
                        {{owner.name}}
                    </li>
                </ul>
            </div>


            <div class="members">
                <h3>
                    Members
                    <button ng-show="org.userIsOwner()" class="btn btn-link" ng-click="showAddMember = !showAddMember">
                        <i class="fa fa-plus" data-title="Add member" data-container="body" bs-tooltip></i>
                    </button>
                </h3>

                <div ng-show="org.userIsOwner() && showAddMember">
                    <user-selector user="memberToAdd"></user-selector>
                    <button class="btn btn-primary" ng-click="addMember(memberToAdd)" ng-disabled="!canAddUser(memberToAdd, org.members)">
                        <i class="fa fa-plus"></i> Add
                    </button>
                </div>
                <ul>
                    <li ng-repeat="member in org.members">
                        <a href ng-show="org.userIsOwner()" ng-click="delMember(member)"><i class="fa fa-trash-o" data-title="Delete this member" bs-tooltip></i></a>
                        {{member.name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-10">
            <img class="img-thumbnail" ng-src="{{org.image}}"/>
            <h1>
                {{org.name}}
                <button ng-show="org.userIsOwner()" class="btn btn-link" ui-sref="editOrg({orgId: org.unique})"><i class="fa fa-pencil"></i> Edit</button>
                <button ng-show="org.userIsOwner()" class="btn btn-link" ng-click="delOrg()"><i class="fa fa-trash-o"></i> Delete</button>
            </h1>

            <p ng-if="org.short_description">
                <i class="fa fa-quote-left"></i>
                {{org.short_description}}
                <i class="fa fa-quote-right"></i>
            </p>
            <div class="well" marked="org.description"></div>

            <div class="projects"><h2><collapse-btn collapsed="hideProjects"></collapse-btn> Projects</h2></div>

            <div class="ideas">
                <h2>
                    <collapse-btn collapsed="collapseIdeas"></collapse-btn>
                    Ideas
                    <button ng-show="org.userIsMember()" class="btn btn-link" ui-sref="newIdea({orgId: org.unique})">
                        <i class="fa fa-plus" data-title="Add idea" data-container="body" bs-tooltip></i>
                    </button>
                </h2>

                <ul ng-hide="collapseIdeas">
                    <li ng-repeat="idea in org.ideas" ui-sref="idea({orgId: org.unique, ideaId: idea.unique})">
                        <h2>{{idea.title}}</h2>
                        <p>{{idea.short_description}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
